body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #5b5b5b;
    margin-top: 50px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.button {
    display: inline-block;
    background-color: #3492b9;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    /*margin-bottom: 5px;*/
}

.button:hover {
    background-color: #225d75;
}

footer {
    background-color: #3492b9;
    color: white;
    padding: 0.1%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

header {
    background-color: #3492b9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    margin: 0;
    padding-left: 20px;
    color: white;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

header .button {
    background-color: #3492b9;
    border-radius: 5px;
    padding: 10px 15px;
}

header .button:hover {
    background-color: #225d75;
}
