<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts/connexion.js"></script>
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    <form name="connexionForm" action="/login" method="post">
        <table>
            <tbody>
            <tr><td><label for="email">Entrez votre email</label></td>
                <td><input name="email" /></td>
            <tr><td><label for="password">Entrez le mot de passe</label></td>
                <td><input type="password" name="password" value="" /></td>
                <td><label id="passwordMessage"></label></td></tr>
            </tbody>
        </table>
        <div><input type="submit" /></div>
        <tr><td><td><label><%= locals.message || '' %></label></td></tr></td></tr>
    </form>
</body>
</html>