<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles.css">
    <title>Schedulo</title>
    <script src="/scripts/hash.js"></script>
    <script src="../../scripts/accountCreation.js">
        const accountForm = document.forms.accountCreation;
        accountForm.addEventListener("submit", (e) => {
            e.preventDefault();
            validateAccountCreation();
        });
    </script>
</head>
<body>
    <%- include('../structures/header') %>
    <h1>Inscription</h1>
        <form name="accountCreation" action="/account/new" method="POST">
            <table>
                <tbody>
                <tr><td><label for="email">Entrez l'adresse mail</label></td>
                    <td><input name="email" id="email" value="" /></td>
                    <td><label id="emailMessage"></label></td></tr>
                <tr><td><label for="password">Entrez le mot de passe</label></td>
                    <td><input type="password" name="password" value="" /></td>
                    <td><label id="passwordMessage"></label></td>
                    <td><label id="preventionPassword">Au moins 8 caractères</label></td></tr>
                <tr><td><label for="passwordRepeated">Confirmez le mot de passe</label></td>
                    <td><input type="password" name ="passwordRepeated" id="passwordRepeated" value="" /></td>
                    <td><label id="passwordRepeatedMessage"></label></td></tr>
                <tr><td><label for="name">Entrez le prénom</label></td>
                    <td><input name="name" value="" /></td>
                <tr><td><label for="surname">Entrez le nom</label></td>
                    <td><input name="surname" value="" /></td>
                <tr><td><label for="picture">Choisissez une photo de profil</label></td>
                    <td><input type="file" name="picture" value="" /></td>
                </tbody>
            </table>
            <div><input type="submit" class="button"/></div>
        </form>
    <%- include('../structures/footer') %>
</body>
</html>