<%- contentFor('contenuPage') %>

<h2><%= typeof headerContenu !== 'undefined' ? headerContenu : 'Titre par défaut' %></h2>

<%- include('formulaire.ejs') %>


<script>
    const RENDEZVOUS = <% if (typeof rendezVous !== 'undefined' && rendezVous !== null) { %>
        <%- JSON.stringify(rendezVous) %>
    <% } else { %>
        null
    <% } %>;
</script>

<script type="module" src="/scripts/rendezVous/init.js" defer></script>