body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #5b5b5b;
    margin-top: 50px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.button {
    display: inline-block;
    background-color: #3492b9;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    /*margin-bottom: 5px;*/
}

.button:hover {
    background-color: #225d75;
}

footer {
    background-color: #3492b9;
    color: white;
    padding: 0.1%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}


header {
    background-color: #3492b9; /* Couleur de fond du header */
    display: flex; /* Utilisation de flexbox pour l'alignement */
    justify-content: space-between; /* Espacement entre le logo et le menu */
    align-items: center; /* Centre le contenu verticalement */
    width: 100%; /* Prend toute la largeur de la fenêtre */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre pour le header */
}

.logo h1 {
    margin: 0;
    padding-left: 20px;
    color: white;
}

.logo {
    color: white; /* Couleur du texte du lien */
    text-decoration: none; /* Enlève le soulignement du lien */
    font-size: 1em; /* Taille de la police du titre */
    font-weight: bold; /* Met le titre en gras */
}

.logo:hover {
    text-decoration: none; /* Pas de soulignement au survol */
    color: rgba(255, 255, 255, 0.8); /* Légère variation de couleur au survol */
}

header .button {
    background-color: #3492b9; /* Couleur de fond des boutons */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px 15px; /* Espacement à l'intérieur des boutons */
}

header .button:hover {
    background-color: #225d75; /* Couleur des boutons au survol */
}
